html
  head
    title= title
  body
    h1= title
    if files.length == 0
      div
        span No files available.
    each file in files
      - var fname = file.name.split('/').pop()
      div
        span
          a(href=`${link_prefix}${fname}`)= fname
